Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

docs: add missing tag in comment
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: make mdx compilation recursive
  .gitignore
  tool/compile-mdx.ts
  tool/promises.ts
Owners: @PHS-TSA/webmaster-23-24

chore(deps): bump
  deno.json
Owners: @lishaduck

ci: fix test
  .github/workflows/deno.yaml
  deno.json
Owners: @lishaduck

feat: move solutions to category-based subpaths
  src/content/geothermal/geothermal.mdx
  src/content/getting-started.mdx
  src/content/guarantees-in-life.mdx
  src/content/pricing.mdx
  src/content/programs.mdx
  src/content/recycling/recycle.mdx
  src/content/solar/solar.mdx
  src/fresh.gen.ts
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/categories.gen.ts
  src/utils/imports.gen.ts
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: cspell in mdx
  .vscode/settings.json
Owners: @PHS-TSA/webmaster-23-24

chore: use tw template tag
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: automatically capitalize categories
  src/utils/capitalize.ts
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: change up params usage
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update names
  src/routes/about.test.ts
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: make category optional
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: props for footer
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps-dev): bump biome
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

refactor: stricter type for makeTitle
  src/site.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: "?"
  src/site.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: as const?
  deno.json
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/about.test.ts
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/site.ts
  src/utils/solutions.test.ts
  src/utils/solutions.ts
  src/utils/tailwind.test.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

chore: update tests
  src/utils/solutions.test.ts
  src/utils/tailwind.test.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: solar
  src/components/Admonition.tsx
  src/components/Cover.tsx
  src/content/geothermal/geothermal.mdx
  src/content/recycling/recycle.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/solar.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/categories.gen.ts
  src/utils/imports.gen.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

feat: index pages
  src/components/Admonition.tsx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/index.mdx
  src/content/solar/solar.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/fresh.gen.ts
  src/islands/HeaderMenu.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  src/utils/categories.gen.ts
  src/utils/icons.ts
  src/utils/imports.gen.ts
  src/utils/site-organization.ts
  src/utils/solutions.test.ts
  src/utils/solutions.ts
  src/utils/strings.ts
  src/utils/type-helpers.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

chore: update unicode highlighting for prose
  .vscode/settings.json
Owners: @PHS-TSA/webmaster-23-24

chore: rename old name
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add rest of solution pages
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/geothermal.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/recycle.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/environment.mdx
  src/content/solar/index.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  src/utils/categories.gen.ts
  src/utils/imports.gen.ts
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: constrain the width of the categories
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: mathjax
  deno.json
  src/content/geothermal/environment.mdx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: footer "with" justification
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: stop being too smart
  src/components/Footer.tsx
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
  src/utils/site-organization.ts
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: description validation
  src/routes/solutions/[category]/index.tsx
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: sorting
  src/utils/categories.gen.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

ci: error on uncommitted changes to autogenerated files
  .github/workflows/deno.yaml
Owners: @lishaduck

revert: "chore: stop being too smart"
  src/components/Footer.tsx
  src/components/Header.tsx
  src/utils/site-organization.ts
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: remove blank lines
  .github/workflows/deno.yaml
Owners: @lishaduck

refactor: dynamic index pages
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/routes/solutions/[category]/index.tsx
  src/utils/categories.gen.ts
  src/utils/solutions.test.ts
  src/utils/solutions.ts
  src/utils/strings.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: bump deno
  .github/workflows/deno.yaml
Owners: @lishaduck

fix: sort earlier
  src/utils/imports.gen.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

chore: remove margins
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/islands/HeaderMenu.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: dark mode
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/_app.tsx
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: move style
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: re-sort most of the classes
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: mobile-optimized category indices
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: extract out content styles into a component
  src/components/Content.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck
