Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

style: revamp
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/islands/HeaderMenu.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/_app.tsx
  src/routes/_layout.tsx
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/monies/guarantees-in-life.tsx
  src/routes/solutions/[slug].tsx
  src/site.ts
  src/utils/posts.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: don't alias description
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: be a good steward
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[slug].tsx
  src/utils/posts.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: fixes
  .vscode/settings.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
  src/utils/posts.ts
  src/utils/tailwind.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore: read-add deno lints
  .github/workflows/deno.yaml
  .vscode/settings.json
  deno.json
  src/routes/solutions/[slug].tsx
  src/utils/posts.ts
  src/utils/tailwind.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24, @MattsAttack, @iiAzui

style: deno
  deno.json
Owners: @lishaduck

chore(deps): bump headlessui
  deno.json
Owners: @lishaduck

style: todoer
  src/utils/posts.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

revert: "chore(deps): bump headlessui"
  deno.json
Owners: @lishaduck

fix: underlines
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: expliciter ts config
  deno.json
Owners: @lishaduck

fix: header css
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: zod
  deno.json
  src/components/Header.tsx
  src/components/Meta.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[slug].tsx
  src/utils/posts.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

revert: "style: expliciter ts config"
  deno.json
Owners: @lishaduck

chore: ignore deno.json from formatting
  biome.json
Owners: @PHS-TSA/webmaster-23-24

fix: partial-er
  src/routes/_app.tsx
  src/routes/_layout.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: remove 404-ing logos for now
  src/components/Meta.tsx
  src/routes/_app.tsx
  src/site.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: schema and reliant components
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: centralize footer and header
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
  src/utils/posts.ts
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: some more css
  src/components/Footer.tsx
  src/components/Header.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: put generated classes last
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: nice header menus
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: max width!
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: max width on mobile
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update more styles on header menu
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: subtle animation
  src/fresh.gen.ts
  src/islands/HeaderMenu.tsx
  src/islands/Headless.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: name
  src/routes/solutions/[slug].tsx
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: commit todos
  src/components/Footer.tsx
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

revert: "subtle animation"
  src/fresh.gen.ts
  src/islands/HeaderMenu.tsx
  src/islands/Headless.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: satisfy
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: footer css
  src/components/Footer.tsx
  src/tailwind.config.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: type
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/islands/HeaderMenu.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/_app.tsx
  src/routes/_layout.tsx
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/monies/guarantees-in-life.tsx
  src/routes/solutions/[slug].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: article dark mode
  src/routes/solutions/[slug].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: more article dark mode
  src/routes/solutions/[slug].tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update styling for header menus
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: cast
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: remove unnecessary null check
  src/routes/solutions/[slug].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: remove zod when ts is superior
  src/components/Footer.tsx
  src/islands/HeaderMenu.tsx
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: simplify logic
  src/components/Header.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: extract `MenuWithItems`
  src/components/Footer.tsx
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck
