Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

refactor: header menu text styles
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: consistency
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/fresh.gen.ts
  src/islands/HeaderMenu.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/_app.tsx
  src/routes/_layout.tsx
  src/routes/about.tsx
  src/routes/green/index.tsx
  src/routes/index.tsx
  src/routes/monies/guarantees-in-life.tsx
  src/routes/monies/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: header anomalies
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: more semantic markup
  src/components/Header.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: children
  src/components/Meta.tsx
  src/components/Title.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: extract page covers to cover component
  src/components/Cover.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/monies/guarantees-in-life.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: sort imports
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/Meta.tsx
  src/fresh.config.ts
  src/main.ts
  src/routes/_app.tsx
  src/routes/_layout.tsx
  src/routes/about.test.ts
  src/tailwind.config.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: add dependabot
  .github/dependabot.yaml
Owners: @lishaduck

chore: update url
  .github/workflows/deno.yaml
  src/static/sitemap.xml
Owners: @lishaduck, @MattsAttack

feat: preload
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: fingerprint assets
  src/components/Meta.tsx
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: don't add an extra class
  src/components/Footer.tsx
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: newlines
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: remove preloader
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: lint
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add biome
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

feat: format!
  biome.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Meta.tsx
  src/fresh.config.ts
  src/islands/HeaderMenu.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/about.tsx
  src/tailwind.config.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore: update gha and vs code configs
  .github/workflows/deno.yaml
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  deno.json
Owners: @lishaduck, @PHS-TSA/webmaster-23-24

chore: add nursery rules
  biome.json
Owners: @PHS-TSA/webmaster-23-24

chore: use biome in tasks
  deno.json
Owners: @lishaduck

fix: import
  src/routes/about.test.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: migrate setting
  .vscode/settings.json
Owners: @PHS-TSA/webmaster-23-24

fix: more lints
  biome.json
  src/components/Footer.tsx
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

style: sort classes
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/islands/HeaderMenu.tsx
  src/routes/_app.tsx
  src/routes/_layout.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps): bump
  deno.json
Owners: @lishaduck

style: use the new `size-` utility
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: typo [skip ci]
  README.md
Owners: @PHS-TSA/webmaster-23-24

chore(deps-dev): bump biome
  deno.json
Owners: @lishaduck

chore: update config
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

style: fix violations
  src/components/Cover.tsx
  src/routes/about.test.ts
  src/tailwind.config.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: up github permissions
  .github/workflows/deno.yaml
Owners: @lishaduck

fix: tagline
  src/site.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: stricter biome
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

feat: add solar page
  biome.json
  deno.json
  src/components/Cover.tsx
  src/content/solar.md
  src/fresh.gen.ts
  src/routes/solutions/[slug].tsx
  src/utils/posts.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore: use recommended tabler alias
  deno.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[slug].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: don't alias description
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: revamp
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/islands/HeaderMenu.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/_app.tsx
  src/routes/_layout.tsx
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/monies/guarantees-in-life.tsx
  src/routes/solutions/[slug].tsx
  src/site.ts
  src/utils/posts.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: be a good steward
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[slug].tsx
  src/utils/posts.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: fixes
  .vscode/settings.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
  src/utils/posts.ts
  src/utils/tailwind.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore: use recommended tabler alias
  deno.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[slug].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui
