Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

chore: precompile jsx
  deno.json
Owners: @lishaduck

fix: icons
  src/islands/Selector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use schema from effect core
  deno.json
  src/routes/calculator/results.tsx
  src/routes/solutions/[category]/index.tsx
  src/sdk/chat/index.ts
  src/sdk/chat/references.ts
  src/sdk/chat/thread.ts
  src/utils/calc/geo.ts
  src/utils/calc/solar.ts
  src/utils/ip.ts
  src/utils/openai/schemas.ts
  src/utils/solutions.test.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

ci: add bump workflow
  .github/workflows/bump.yaml
  .github/workflows/deno.yaml
Owners: @lishaduck

ci: run workflows on edits
  .github/workflows/bump.yaml
Owners: @lishaduck

feat: use effect
  deno.json
  tool/compile-mdx.ts
  tool/effect-deno.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24

refactor: swap to @effect/schema for schemas.ts
  src/sdk/chat/index.ts
  src/sdk/chat/references.ts
  src/sdk/chat/thread.ts
  src/utils/openai/schemas.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: swap to @effect/schema for SolutionPagesSchema
  deno.json
  src/utils/solutions.test.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: tests
  src/utils/solutions.test.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

docs: edit a comment or two
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

refactor: use @effect/schema in solar info and ip info
  src/utils/calc/solar.ts
  src/utils/ip.ts
  src/utils/zod.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use @effect/schema on the category landing pages
  src/components/Carousel.tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use @effect/schema for geothermal
  src/routes/calculator/results.tsx
  src/utils/calc/geo.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use schema from effect core
  deno.json
  src/routes/calculator/results.tsx
  src/routes/solutions/[category]/index.tsx
  src/sdk/chat/index.ts
  src/sdk/chat/references.ts
  src/sdk/chat/thread.ts
  src/utils/calc/geo.ts
  src/utils/calc/solar.ts
  src/utils/ip.ts
  src/utils/openai/schemas.ts
  src/utils/solutions.test.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: don't require specifying generics for makeRequest
  src/utils/ip.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: remove zod dependency
  deno.json
Owners: @lishaduck

chore(deps): bump effect
  deno.json
Owners: @lishaduck

fix: render chatbot
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui
