Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

ci: mock openai token
  .github/workflows/deno.yaml
Owners: @lishaduck

fix: calculator on mobile
  src/routes/calculator.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: csp
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: favicon
  src/routes/_app.tsx
  src/site.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: lighthouse
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: disable cd
  .github/workflows/deno.yaml
Owners: @lishaduck

ci: run on all prs
  .github/workflows/deno.yaml
Owners: @lishaduck

ci: don't cache
  .github/workflows/deno.yaml
Owners: @lishaduck

chore: bump fresh
  deno.json
Owners: @lishaduck

chore: migrate to jsr
  deno.json
  src/dev.ts
  src/islands/Chatbot.tsx
  src/main.ts
  src/routes/about.test.ts
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/solutions.test.ts
  src/utils/tailwind.test.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: homepage dark mode
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: checkboxes
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: less code
  src/islands/Chatbot.tsx
  src/utils/calc/solar.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps): bump
  deno.json
Owners: @lishaduck

chore(deps-dev): bump biome
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

fix: new lints
  src/islands/Chatbot.tsx
  src/routes/api/chat/index.ts
  src/routes/calculator.tsx
  src/utils/hooks.ts
  src/utils/indexeddb.ts
  src/utils/solutions.test.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: mdx compilation discovery path resolution
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

chore(web): add google verification
  src/static/google7645293075eb4b21.html
Owners: @lishaduck, @MattsAttack

chore: turn ci back on
  .github/workflows/deno.yaml
Owners: @lishaduck

fix: strict csp
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: missing partial island warning
  src/routes/_app.tsx
  src/routes/_layout.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps-dev): bump unified deps
  deno.json
  src/content/geothermal/what.mdx
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

chore(deps): bump tailwind
  deno.json
Owners: @lishaduck

chore(deps): bump preact-signals
  deno.json
Owners: @lishaduck

chore(deps): bump zod
  deno.json
Owners: @lishaduck

chore(deps): bump deno std modules
  deno.json
Owners: @lishaduck

chore(deps): bump openai
  deno.json
  src/utils/openai/references.ts
  src/utils/openai/schemas.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use polling utilities
  deno.json
  src/utils/openai/assistant.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: lh csp assertions
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: remove \n in comment
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: header wrapping
  src/components/Header.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: use canva transparency
  src/static/images/emissions.gif
Owners: @lishaduck, @MattsAttack

feat: bump headless
  biome.json
  deno.json
  src/components/Checkbox.tsx
  src/components/Header.tsx
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/islands/Checkbox.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Selector.tsx
  src/routes/calculator.tsx
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

ci: bump deno
  .github/workflows/deno.yaml
Owners: @lishaduck

fix: client-only in islands
  deno.json
  src/fresh.gen.ts
  src/islands/CalculatorSearch.tsx
  src/routes/calculator.tsx
  src/utils/calc/search-props.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: deno 2, sorta
  .github/workflows/deno.yaml
Owners: @lishaduck

chore: losslessly compress logos
  src/static/logo-maskable.png
  src/static/logo-sm.png
  src/static/logo-xs.png
Owners: @lishaduck, @MattsAttack

fix: don't render headlessui on the server
  src/islands/CalculatorSearch.tsx
  src/islands/Chatbot.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Selector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: chatbot is a popover
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: dummy implementations for loading
  src/components/CalculatorSearch.tsx
  src/components/Footer.tsx
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/islands/Checkbox.tsx
  src/islands/HeaderMenu.tsx
  src/islands/InputField.tsx
  src/islands/Selector.tsx
  src/islands/Submit.tsx
  src/routes/about.test.ts
  src/routes/calculator.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui
