Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

fix: mobile homepage grid
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: footer grids
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: lighthouses
  src/components/Footer.tsx
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: add lighthouse
  .github/workflows/deno.yaml
Owners: @lishaduck

fix: mobile padding for content
  src/components/Content.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: other
  src/content/geothermal/what.mdx
  src/content/other/appliances.mdx
  src/content/other/atomics.mdx
  src/content/other/billing.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/routes/solutions/[category]/index.tsx
  src/utils/categories.gen.ts
  src/utils/imports.gen.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: footer columns
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: delete sitemap
  src/static/sitemap.xml
Owners: @lishaduck, @MattsAttack

chore: remove unnecessary fragment
  src/routes/_404.tsx
  src/routes/_500.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(content): update copy
  src/content/other/utilities.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: bump biome
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

chore: fix lints
  biome.json
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

perf: use await return
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: fewer islands
  src/components/Header.tsx
  src/components/HeaderMenu.server.tsx
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: add new logo
  src/components/Header.tsx
  src/components/Logo.tsx
  src/static/favicon.ico
  src/static/logo.svg
Owners: @lishaduck, @MattsAttack, @iiAzui

style: remove redundant template tag
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: bump biome
  biome.json
  deno.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/routes/solutions/[category]/index.tsx
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

images
  src/content/geothermal/cost.mdx
  src/content/other/wind.mdx
  src/routes/index.tsx
  src/static/images/emissions.gif
  src/static/images/impact.svg
Owners: @lishaduck, @MattsAttack, @iiAzui

Added all images
  src/content/solar/what.mdx
  src/static/images/appliances.jpeg
  src/static/images/electric_cars.avif
  src/static/images/geothermal_cost.avif
  src/static/images/geothermal_enviormental.webp
  src/static/images/geothermal_what.avif
  src/static/images/geothermal_worth.avif
  src/static/images/hydro_electric.avif
  src/static/images/lawn_lights.avif
  src/static/images/led_lights.avif
  src/static/images/nuclear.avif
  src/static/images/online_billing.avif
  src/static/images/rec_cost.avif
  src/static/images/rec_impact.avif
  src/static/images/rec_what.avif
  src/static/images/rec_worth.avif
  src/static/images/solar_cost.avif
  src/static/images/solar_enviorment.avif
  src/static/images/solar_worth.avif
  src/static/images/utility_companies.avif
  src/static/images/what_is_solar.jpg
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add all images and center them
  src/components/Content.tsx
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/other/appliances.mdx
  src/content/other/atomics.mdx
  src/content/other/billing.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/routes/index.tsx
  src/static/images/what-is-solar.jpg
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: co2
  src/components/Content.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update section headings in so "about other" didn't look goofy Reworded and "fattened" all text in other
  src/content/other/appliances.mdx
  src/content/other/atomics.mdx
  src/content/other/billing.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/utils/categories.gen.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

added alt text
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/other/appliances.mdx
  src/content/other/atomics.mdx
  src/content/other/billing.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/worth-it.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Updated recycling text and stuff through grammarly
  src/content/geothermal/cost.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

edited comment
  src/routes/about.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/atomics.mdx
  src/content/other/atomics.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/atomics.mdx
  src/content/other/atomics.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/appliances.mdx
  src/content/other/appliances.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/billing.mdx
  src/content/other/billing.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/solar-lawn-lights.mdx
  src/content/other/solar-lawn-lights.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/billing.mdx
  src/content/other/billing.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/utilities.mdx
  src/content/other/utilities.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/wind.mdx
  src/content/other/wind.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: the issue
  src/utils/categories.gen.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/electric-cars.mdx
  src/content/other/electric-cars.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/hydroelectric.mdx
  src/content/other/hydroelectric.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/led-lights.mdx
  src/content/other/led-lights.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

Update src/content/other/utilities.mdx
  src/content/other/utilities.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

changes nuclear file name
  src/content/other/nuclear-power.mdx
  src/utils/categories.gen.ts
  src/utils/imports.gen.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: the issues
  src/utils/categories.gen.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck
