Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

chore: update watches
  deno.json
Owners: @lishaduck

fix: centering, extraneous image
  src/components/Content.tsx
  src/content/geothermal/cost.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add solar pricing calculator
  deno.json
  src/fresh.gen.ts
  src/islands/StateSelector.tsx
  src/routes/about.test.ts
  src/routes/calculator.tsx
  src/tailwind.config.ts
  src/utils/calc.ts
  src/utils/headless.ts
  src/utils/icons.ts
  src/utils/ip.ts
  src/utils/zod.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: minor tweaks
  src/components/Admonition.tsx
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/routes/_layout.tsx
  src/tailwind.config.ts
  src/utils/headless-tailwind.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: deno.json sorting
  deno.json
Owners: @lishaduck

fix: add an expected animation
  src/islands/StateSelector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: remove redundancy
  src/islands/StateSelector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update copy
  src/islands/StateSelector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: offline
  src/islands/StateSelector.tsx
  src/routes/calculator.tsx
  src/utils/ip.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: literally everything about the calculator
  src/components/Checkbox.tsx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/fresh.gen.ts
  src/islands/Selector.tsx
  src/routes/calculator.tsx
  src/utils/calc/geo.ts
  src/utils/calc/solar.ts
  src/utils/intl.ts
  src/utils/ip.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: new logo
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/Meta.tsx
  src/routes/_app.tsx
  src/site.ts
  src/static/favicon.ico
  src/static/logo-maskable.png
  src/static/logo-sm.png
  src/static/logo-xs.png
  src/static/logo.png
  src/static/logo.svg
  src/static/manifest.webmanifest
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add a csp
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/about.tsx
  src/routes/calculator.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  src/static/images/intro.jpg
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: make emissions gif transparent
  src/static/images/emissions.gif
Owners: @lishaduck, @MattsAttack

chore: update mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/other/appliances.mdx
  src/content/other/billing.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/nuclear-power.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/routes/index.tsx
  src/static/images/turbines.jpg
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: stricter mdx linting
  deno.json
  tool/compile-mdx.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24

fix: csp
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: calculator paging
  src/islands/Selector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add link to calculator
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: rendering of additional menus
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: nicer images
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/mdx/types.ts
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: smart quotes
  src/content/other/appliances.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/nuclear-power.mdx
  src/content/other/wind.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: anchor links!
  biome.json
  src/routes/solutions/[category]/index.tsx
  src/utils/icons.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

feat: basic chatbot
  .vscode/tasks.json
  deno.json
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/islands/HeaderMenu.tsx
  src/routes/_layout.tsx
  src/routes/api/chat/index.ts
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  src/utils/icons.ts
  src/utils/openai.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

feat: ask questions to chatbot
  .vscode/settings.json
  src/components/Loading.tsx
  src/islands/Chatbot.tsx
  src/routes/api/chat/index.ts
  src/sdk/chat/index.ts
  src/static/styles.css
  src/utils/hooks.ts
  src/utils/openai-schemas.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

feat: yahhhhhhhhoooooooooooooooo!
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: chattin'!
  deno.json
  src/components/Loading.tsx
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/routes/api/chat/index.ts
  src/routes/api/chat/thread.ts
  src/routes/calculator.tsx
  src/sdk/chat/index.ts
  src/tailwind.config.ts
  src/utils/hooks.ts
  src/utils/icons.ts
  src/utils/indexeddb.ts
  src/utils/openai-schemas.ts
  src/utils/openai.ts
  src/utils/openai/ref.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: todos
  src/components/Footer.tsx
  src/utils/openai.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: about page
  src/routes/about.tsx
  src/static/documentation/copyright-checklist.pdf
  src/static/documentation/work-log.pdf
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: use uniform colors
  src/components/Checkbox.tsx
  src/components/Content.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/islands/Chatbot.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Selector.tsx
  src/routes/_app.tsx
  src/routes/calculator.tsx
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: use markdown images
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/other/appliances.mdx
  src/content/other/billing.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/nuclear-power.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/static/images/solar_environment.avif
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: enlargen chatbot
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update worklog
  src/static/documentation/work-log.pdf
Owners: @lishaduck, @MattsAttack

chore: update homepage
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update worklog again
  src/static/documentation/work-log.pdf
Owners: @lishaduck, @MattsAttack

fix: tests
  src/routes/about.test.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: end cron jobs
  .github/dependabot.yaml
  .github/workflows/deno.yaml
Owners: @lishaduck

fix: homepage typo
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: format references
  .github/workflows/deno.yaml
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/routes/api/chat/index.ts
  src/routes/api/chat/references.ts
  src/routes/api/chat/thread.ts
  src/sdk/chat/index.ts
  src/sdk/chat/references.ts
  src/sdk/chat/thread.ts
  src/utils/hooks.ts
  src/utils/icons.ts
  src/utils/indexeddb.ts
  src/utils/openai-schemas.ts
  src/utils/openai/assistant.ts
  src/utils/openai/ref.ts
  src/utils/openai/references.ts
  src/utils/openai/schemas.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: mobile chatbot
  src/islands/Chatbot.tsx
  src/routes/_layout.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: add updated work log again
  src/static/documentation/work-log.pdf
Owners: @lishaduck, @MattsAttack
