Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

fix: csp
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: shorter header
  src/components/Header.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: lighthouse the calculator
  .github/workflows/deno.yaml
Owners: @lishaduck

ci: add lhci assertions
  .github/workflows/deno.yaml
  lighthouserc.json
Owners: @lishaduck, @PHS-TSA/webmaster-23-24

chore: better seo
  src/static/robots.txt
  src/static/sitemap.xml
Owners: @lishaduck, @MattsAttack

fix: ignore crawlability
  lighthouserc.json
Owners: @PHS-TSA/webmaster-23-24

refactor: extract chatbot button
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: chatbot shadow
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: mover hooks into a directory
  src/islands/Chatbot.tsx
  src/utils/hooks/indexeddb.ts
  src/utils/hooks/suspense.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: logical calculator ordering
  src/components/calc/Display.tsx
  src/components/calc/Search.tsx
  src/components/calc/props.ts
  src/islands/InputField.tsx
  src/routes/calculator.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: better calculator
  src/components/CalculatorSearch.tsx
  src/components/calc/Display.tsx
  src/components/calc/Search.tsx
  src/fresh.gen.ts
  src/islands/Info.tsx
  src/islands/Selector.tsx
  src/routes/calculator.tsx
  src/utils/ip.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: improve anchor link styling in category page
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: typos
  src/content/geothermal/what.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: group popovers
  src/components/Header.tsx
  src/fresh.gen.ts
  src/islands/HeaderGroup.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: type
  src/islands/HeaderGroup.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: empty query on close
  src/islands/Selector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: move comment
  src/islands/Checkbox.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: make checkbox use an actual input
  src/islands/Checkbox.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: clean up whitespace in headermenus
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: readonly props
  src/components/Admonition.tsx
  src/components/calc/Display.tsx
  src/components/calc/props.ts
  src/islands/Chatbot.tsx
  src/islands/Checkbox.tsx
  src/islands/Info.tsx
  src/islands/InputField.tsx
  src/islands/Selector.tsx
  src/islands/Submit.tsx
  src/routes/index.tsx
  src/utils/calc/geo.ts
  src/utils/calc/search-props.ts
  src/utils/calc/solar.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: move vendored code out
  deno.json
  src/islands/Chatbot.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/tailwind.config.ts
  vendor/@headlessui/LICENSE
  vendor/@headlessui/tailwind/mod.ts
  vendor/mdx/license.txt
  vendor/mdx/types.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

feat: enable smooth scroll
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: solution page gain a scroll progress bar!
  src/components/Cover.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: chatbot profile
  src/islands/Chatbot.tsx
  src/static/images/openai.avif
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: remove dead code
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: aria-hide
  src/routes/solutions/[category]/[[slug]].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: scroll-to-top button
  src/components/floating-button.ts
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/islands/ScrollToTop.tsx
  src/routes/_layout.tsx
  src/static/styles.css
  src/utils/icons.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fixerupper
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: remove outline from info tooltip buttons
  src/islands/Info.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: headermenu shadow
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: sticky header
  src/components/Footer.tsx
  src/components/Header.tsx
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: scroll progress
  src/components/Header.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: semantics
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add "GPT-4o online" status indicator
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: add and remove rings
  src/components/floating-button.ts
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: better focus styles
  src/components/Header.tsx
  src/components/HeaderMenu.server.tsx
  src/components/floating-button.ts
  src/components/styles.ts
  src/islands/Chatbot.tsx
  src/islands/Checkbox.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Info.tsx
  src/islands/ScrollToTop.tsx
  src/islands/Selector.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: add main
  src/routes/about.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: anchors under sticky header
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: more `asset()`s
  src/routes/index.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/static/images/emissions.gif
  src/static/images/emissions.webm
  src/utils/csp.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

wip: chatbox message fade
  src/islands/Chatbot.tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui
