Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

chore: ignore more unicode highlighting
  .vscode/settings.json
Owners: @PHS-TSA/webmaster-23-24

fix: energy star stuff
  src/content/other/led-lights.mdx
  src/routes/about.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: fix more denodoc violations
  src/components/Admonition.tsx
  src/components/CalculatorScaffold.tsx
  src/components/Cover.tsx
  src/components/Logo.tsx
  src/utils/ip.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: yet another todo with not enough time to do
  src/islands/Selector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: readable hero text
  src/components/Cover.tsx
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: add custom icons to content pages
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/other/appliances.mdx
  src/content/other/billing.mdx
  src/content/other/biomass.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/nuclear-power.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/categories.gen.ts
  src/utils/solutions.test.ts
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: handlers
  src/routes/api/chat/index.ts
  src/routes/api/chat/references.ts
  src/routes/calculator/index.tsx
  src/routes/calculator/results.tsx
  src/routes/solutions/[category]/[[slug]].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: mention inflation-reduction
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: variant order
  src/islands/HeaderMenu.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: selector
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

style: use `ComponentType` in HOFs
  src/routes/solutions/[category]/[[slug]].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: call to action!
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: missing leading slash
  src/utils/categories.gen.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

feat: category carousels
  src/components/Carousel.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

style: keyframes after classes
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

style: remove vestigial animation properties
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

feat: one more image
  src/routes/index.tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui

style: more specific selector
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

fix: header animations
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

fix: static dynamic imports
  src/utils/imports.gen.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

feat: new biomass page
  src/content/other/biomass.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: better seo
  src/static/robots.txt
  src/static/sitemap.xml
Owners: @lishaduck, @MattsAttack

feat: expand US
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/utils/categories.gen.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: move tag to tags file
  src/components/Admonition.tsx
  src/components/Header.tsx
  src/components/styles.ts
  src/islands/Chatbot.tsx
  src/islands/Checkbox.tsx
  src/islands/HeaderGroup.tsx
  src/islands/HeaderMenu.tsx
  src/islands/InputField.tsx
  src/islands/ScrollDown.tsx
  src/islands/ScrollToTop.tsx
  src/islands/Selector.tsx
  src/islands/Submit.tsx
  src/utils/tags.ts
  src/utils/tailwind.test.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: add biomass source
  src/routes/about.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: dynamically generate carousel styles
  src/components/Carousel.tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update work log
  src/static/documentation/work-log.pdf
Owners: @lishaduck, @MattsAttack

fix: ios pt 1
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

fix: progress
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

fix: another supports
  src/components/Carousel.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: commit deployctl config
  deno.json
Owners: @lishaduck

fix: ios
  src/components/Carousel.tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update work log again
  src/static/documentation/work-log.pdf
Owners: @lishaduck, @MattsAttack

fix: typo
  src/content/solar/worth-it.mdx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: better image
  src/static/images/geothermal-cost.avif
Owners: @lishaduck, @MattsAttack

feat: better webmanifest
  src/static/logo-2xs.png
  src/static/logo-xs.png
  src/static/manifest.webmanifest
  src/static/screenshots/narrow/1.png
  src/static/screenshots/narrow/2.png
  src/static/screenshots/narrow/3.png
  src/static/screenshots/wide/2.png
  src/static/screenshots/wide/3.png
Owners: @lishaduck, @MattsAttack

fix: mobile calculator
  src/components/CalculatorScaffold.tsx
  src/islands/Checkbox.tsx
  src/islands/InputField.tsx
  src/islands/Selector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: memoize carousel css
  src/components/Carousel.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: last work log update
  src/static/documentation/work-log.pdf
Owners: @lishaduck, @MattsAttack

feat: preserve jsx from mdx
  .gitattributes
  .gitignore
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/imports.gen.ts
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui
