Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

wip: begin upgrading
  deno.json
  deno.lock
  src/components/Carousel.tsx
  src/components/Logo.tsx
  src/dev.ts
  src/fresh.config.ts
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/islands/Checkbox.tsx
  src/islands/HeaderGroup.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Info.tsx
  src/islands/InputField.tsx
  src/islands/ScrollDown.tsx
  src/islands/ScrollToTop.tsx
  src/islands/Selector.tsx
  src/islands/Submit.tsx
  src/main.ts
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/_app.tsx
  src/routes/_layout.tsx
  src/routes/about.test.ts
  src/routes/about.tsx
  src/routes/api/chat/index.ts
  src/routes/api/chat/references.ts
  src/routes/api/chat/thread.ts
  src/routes/calculator/index.tsx
  src/routes/calculator/results.tsx
  src/routes/green.tsx
  src/routes/index.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  src/utils/csp.ts
  src/utils/handlers.ts
  src/utils/hooks/indexeddb.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24, @MattsAttack, @iiAzui

fix: spa navigation
  src/islands/Info.tsx
  src/routes/_app.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: use effect
  deno.json
  tool/compile-mdx.ts
  tool/effect-deno.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24

feat: typesafe categories
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

docs: edit a comment or two
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

style: sort class
  src/components/Content.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps): bump
  deno.json
Owners: @lishaduck

chore(deps): migrate off of @headlessui/tailwindcss
  deno.json
  src/islands/Selector.tsx
  src/tailwind.config.ts
  vendor/@headlessui/LICENSE
  vendor/@headlessui/tailwind/mod.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

style: capitalize tabler
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps-dev): bump biome
  biome.json
  deno.json
  src/components/Header.tsx
  src/utils/openai/references.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore(deps): bump
  .github/workflows/deno.yaml
  biome.json
  deno.json
  src/fresh.gen.ts
  src/islands/HeaderGroup.tsx
  src/routes/about.test.ts
  src/routes/about.tsx
  src/routes/green.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  tool/compile-mdx.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24, @MattsAttack, @iiAzui

refactor: use react-markdown from the unifiedjs collective
  deno.json
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: swap from $tabler_icons_tsx to npm:@tabler/icons-preact
  deno.json
  src/components/Admonition.tsx
  src/components/Footer.tsx
  src/components/icons.ts
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/other/appliances.mdx
  src/content/other/billing.mdx
  src/content/other/biomass.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/nuclear-power.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/islands/Chatbot.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Info.tsx
  src/islands/ScrollDown.tsx
  src/islands/ScrollToTop.tsx
  src/islands/Selector.tsx
  src/routes/calculator/results.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
  src/utils/categories.gen.ts
  src/utils/imports.gen.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

refactor: roll our own react-markdown
  deno.json
  src/fresh.gen.ts
  src/islands/Chatbot.tsx
  src/islands/Markdown.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: more npm specifiers
  deno.json
Owners: @lishaduck

fix: don't pull in react
  deno.json
Owners: @lishaduck

fix: compile error
  biome.json
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

refactor: better icon verification
  src/utils/solutions.test.ts
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: install deps in a separate step
  .github/workflows/deno.yaml
Owners: @lishaduck

chore(deps): bump
  deno.json
Owners: @lishaduck

refactor: make matter readonly again
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

feat: use effect
  deno.json
  tool/compile-mdx.ts
  tool/effect-deno.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24

docs: edit a comment or two
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

refactor: swap to @effect/schema for SolutionPagesSchema
  deno.json
  src/utils/solutions.test.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

fix: tests
  src/utils/solutions.test.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: turn off openai integration when api key is not set
  src/islands/Chatbot.tsx
  src/routes/_layout.tsx
  src/routes/api/chat/index.ts
  src/routes/api/chat/references.ts
  src/routes/api/chat/thread.ts
  src/utils/openai/assistant.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: swap to @effect/schema for schemas.ts
  src/sdk/chat/index.ts
  src/sdk/chat/references.ts
  src/sdk/chat/thread.ts
  src/utils/openai/schemas.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use @effect/schema on the category landing pages
  src/components/Carousel.tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use @effect/schema in solar info and ip info
  src/utils/calc/solar.ts
  src/utils/ip.ts
  src/utils/zod.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use @effect/schema for geothermal
  src/routes/calculator/results.tsx
  src/utils/calc/geo.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: remove zod dependency
  deno.json
Owners: @lishaduck

fix: todo
  src/islands/Selector.tsx
  src/routes/calculator/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: add a comment
  src/routes/calculator/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: remove todos
  src/components/Footer.tsx
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: make lit-plugin happy
  src/components/Carousel.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: drop unsound isKey function
  src/routes/calculator/results.tsx
  src/routes/solutions/[category]/index.tsx
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: ergonomic ssr
  .vscode/settings.json
  src/islands/Chatbot.tsx
  src/islands/Checkbox.tsx
  src/islands/HeaderGroup.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Info.tsx
  src/islands/InputField.tsx
  src/islands/ScrollDown.tsx
  src/islands/ScrollToTop.tsx
  src/islands/Selector.tsx
  src/islands/Submit.tsx
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

fix: don't require specifying generics for makeRequest
  src/utils/ip.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: better interpolation
  deno.json
  src/components/Admonition.tsx
  src/components/Carousel.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Selector.tsx
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: render chatbot
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui
