Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck

fix: type
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: create a barrel file for icons
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[slug].tsx
  src/utils/icons.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: write a type for tool icons
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: type annotations
  src/components/Footer.tsx
  src/components/Header.tsx
  src/islands/HeaderMenu.tsx
  src/routes/about.test.ts
  src/routes/solutions/[slug].tsx
  src/utils/handlers.ts
  src/utils/site-organization.ts
  src/utils/solutions.ts
  src/utils/tailwind.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: clean up todos
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: solutions variables naming
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: async
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: anchor _light_ mode
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

fix: use hasItems in HeaderMenu
  src/components/Footer.tsx
  src/islands/HeaderMenu.tsx
  src/utils/site-organization.ts
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: bug in footer
  src/components/Footer.tsx
  src/tailwind.config.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps-dev): bump biome
  deno.json
Owners: @lishaduck

feat: more dynamic pages
  src/content/getting-started.md
  src/content/guarantees-in-life.md
  src/content/pricing.md
  src/content/programs.md
  src/content/solar.md
  src/fresh.gen.ts
  src/routes/monies/guarantees-in-life.tsx
  src/utils/site-organization.ts
  src/utils/solutions.ts
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: footer headers
  src/components/Footer.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

docs: update comments
  src/fresh.config.ts
  src/routes/solutions/[slug].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: use mdx instead of gfm
  .vscode/settings.json
  deno.json
  src/content/getting-started.js
  src/content/getting-started.md
  src/content/getting-started.mdx
  src/content/guarantees-in-life.js
  src/content/guarantees-in-life.mdx
  src/content/pricing.js
  src/content/pricing.md
  src/content/pricing.mdx
  src/content/programs.js
  src/content/programs.md
  src/content/programs.mdx
  src/content/solar.js
  src/content/solar.mdx
  src/main.ts
  src/routes/solutions/[slug].tsx
  src/utils/imports.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore: update ignores
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

chore: mark generated code as generated
  .gitattributes
  src/main.ts
  src/utils/imports.gen.ts
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore(deps): bump std, fresh, pin mdx
  biome.json
  deno.json
Owners: @PHS-TSA/webmaster-23-24, @lishaduck

style: stricter type
  src/utils/type-helpers.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: clean up deno.json
  deno.json
Owners: @lishaduck

chore: compile mdx in watch
  deno.json
Owners: @lishaduck

feat: back to frontmatter
  deno.json
  src/content/getting-started.js
  src/content/getting-started.mdx
  src/content/guarantees-in-life.js
  src/content/guarantees-in-life.mdx
  src/content/pricing.js
  src/content/pricing.mdx
  src/content/programs.js
  src/content/programs.mdx
  src/content/solar.js
  src/content/solar.mdx
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

style: obvious FEs
  src/utils/imports.gen.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

style: lint mdx
  deno.json
  tool/compile-mdx.ts
Owners: @lishaduck, @PHS-TSA/webmaster-23-24

refactor: break up compiler
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

refactor: extract out mapping
  tool/compile-mdx.ts
  tool/promises.ts
Owners: @PHS-TSA/webmaster-23-24

docs: comments
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

fix: extract frontmatter on the page right
  src/routes/solutions/[slug].tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: linting
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

style: remove useless iteration
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

style: loosen type requirements
  tool/promises.ts
Owners: @PHS-TSA/webmaster-23-24

feat: codegen categories
  src/utils/categories.gen.ts
  src/utils/site-organization.ts
  src/utils/solutions.ts
  tool/compile-mdx.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

style: more `as const satisfies`
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

docs: update
  src/components/Footer.tsx
  src/utils/site-organization.ts
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

docs: comment fully
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/islands/HeaderMenu.tsx
  src/routes/_404.tsx
  src/routes/_500.tsx
  src/routes/_app.tsx
  src/routes/_layout.tsx
  src/routes/about.test.ts
  src/routes/about.tsx
  src/routes/index.tsx
  src/routes/solutions/[slug].tsx
  src/site.ts
  src/utils/handlers.ts
  src/utils/icons.ts
  src/utils/site-organization.ts
  src/utils/solutions.ts
  src/utils/tailwind.ts
  src/utils/type-helpers.ts
  tool/compile-mdx.ts
  tool/promises.ts
Owners: @lishaduck, @MattsAttack, @iiAzui, @PHS-TSA/webmaster-23-24

refactor: use `String.raw` for template tags
  src/islands/HeaderMenu.tsx
  src/utils/tailwind.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: add some actual tests
  src/utils/solutions.test.ts
  src/utils/tailwind.test.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: gitattrs
  .gitattributes
Owners: @PHS-TSA/webmaster-23-24

fix: use Promise.all again
  tool/compile-mdx.ts
Owners: @PHS-TSA/webmaster-23-24

fix: gitignore compiled mdx
  .gitignore
  src/content/getting-started.js
  src/content/guarantees-in-life.js
  src/content/pricing.js
  src/content/programs.js
  src/content/solar.js
Owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui
