Repository PHS-TSA/webmaster-23-24, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PHS-TSA/webmaster-23-24, @lishaduck, @MattsAttack, @iiAzui

chore: knip
  src/islands/HeaderMenu.tsx
  src/utils/calc/search-props.ts
  src/utils/icons.ts
  src/utils/ip.ts
  src/utils/openai/assistant.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

docs: add missing comment
  src/utils/icons.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

perf: specify widths and heights
  src/components/Cover.tsx
  src/components/Logo.tsx
  src/islands/Chatbot.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Selector.tsx
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: different cover icon for category indices
  src/routes/solutions/[category]/index.tsx
  src/utils/icons.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

perf: another avif
  src/routes/index.tsx
  src/static/images/impact.avif
  src/static/images/impact.svg
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: move icons to components
  src/components/Admonition.tsx
  src/components/Footer.tsx
  src/components/calc/Display.tsx
  src/components/icons.ts
  src/islands/Chatbot.tsx
  src/islands/HeaderMenu.tsx
  src/islands/Info.tsx
  src/islands/ScrollToTop.tsx
  src/islands/Selector.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/routes/solutions/[category]/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: fetch can throw
  src/sdk/chat/index.ts
  src/sdk/chat/references.ts
  src/sdk/chat/thread.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

style: don't use explicit returns for objects
  src/components/calc/Search.tsx
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: allow creating new chatbot conversations
  src/components/icons.ts
  src/islands/Chatbot.tsx
  src/sdk/chat/thread.ts
  src/static/styles.css
  src/utils/hooks/indexeddb.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: progress bar styling
  src/components/Header.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: add shadow to media on index page
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: chatbot heading anchors
  src/static/styles.css
Owners: @lishaduck, @MattsAttack

fix: type
  src/components/Cover.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore(deps): bump openai
  deno.json
Owners: @lishaduck

chore(deps): bump preact
  deno.json
Owners: @lishaduck

feat: scroll to bottom on new messages
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: use join in more places
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/ip.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: expose public types
  src/components/Admonition.tsx
  src/routes/solutions/[category]/index.tsx
  src/utils/ip.ts
  src/utils/solutions.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

perf: cache logo
  src/components/Logo.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

perf: webp, not webm
  src/routes/index.tsx
  src/static/images/emissions.webm
  src/static/images/emissions.webp
Owners: @lishaduck, @MattsAttack, @iiAzui

feat: animate logo on homepage
  src/components/Logo.tsx
  src/routes/index.tsx
  src/static/logo-animated-dark.webp
  src/static/logo-animated.webp
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: use {@linkcode} instead of {@link}
  src/components/Cover.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Meta.tsx
  src/components/Title.tsx
  src/islands/HeaderMenu.tsx
  src/routes/solutions/[category]/[[slug]].tsx
  src/utils/handlers.ts
  src/utils/site-organization.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update copy
  src/content/geothermal/cost.mdx
  src/content/geothermal/environment.mdx
  src/content/geothermal/what.mdx
  src/content/geothermal/worth-it.mdx
  src/content/other/appliances.mdx
  src/content/other/billing.mdx
  src/content/other/electric-cars.mdx
  src/content/other/hydroelectric.mdx
  src/content/other/led-lights.mdx
  src/content/other/nuclear-power.mdx
  src/content/other/solar-lawn-lights.mdx
  src/content/other/utilities.mdx
  src/content/other/wind.mdx
  src/content/recycling/cost.mdx
  src/content/recycling/environment.mdx
  src/content/recycling/what.mdx
  src/content/recycling/worth-it.mdx
  src/content/solar/cost.mdx
  src/content/solar/environment.mdx
  src/content/solar/what.mdx
  src/content/solar/worth-it.mdx
  src/routes/index.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: capitalization
  src/content/recycling/what.mdx
  src/content/solar/what.mdx
  src/utils/categories.gen.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: typecheck tool
  deno.json
Owners: @lishaduck

style: move declaration
  src/components/icons.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

ci: update lhci action config
  .github/workflows/deno.yaml
Owners: @lishaduck

feat: custom scrollbar
  deno.json
  src/routes/_app.tsx
  src/tailwind.config.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

refactor: extract out heros
  src/components/Cover.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: split up calculator pages
  src/components/CalculatorScaffold.tsx
  src/components/calc/Display.tsx
  src/components/calc/Search.tsx
  src/components/calc/props.ts
  src/fresh.gen.ts
  src/routes/calculator.tsx
  src/routes/calculator/index.tsx
  src/routes/calculator/results.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: nicer input colors
  src/islands/InputField.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: loop emissions animation
  src/static/images/emissions.webp
Owners: @lishaduck, @MattsAttack

feat: carousel hero for main page
  src/routes/index.tsx
  src/static/styles.css
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: update about
  src/routes/about.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: don't download documentation
  src/routes/about.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: indexeddb cache overriding chat reload
  src/islands/Chatbot.tsx
  src/utils/hooks/indexeddb.ts
  src/utils/hooks/suspense.ts
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: electric car image
  src/content/other/electric-cars.mdx
  src/routes/index.tsx
  src/static/images/electric-car.avif
Owners: @lishaduck, @MattsAttack, @iiAzui

style: use IIFEs in async signal effects
  src/islands/Chatbot.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

chore: use gfm footnote syntax
  src/components/Meta.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

fix: add scaffold for info
  src/islands/Info.tsx
  src/islands/Selector.tsx
Owners: @lishaduck, @MattsAttack, @iiAzui

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/webmaster-23-24

/.github/     @lishaduck
/src/         @lishaduck @MattsAttack @iiAzui
/src/static/  @lishaduck @MattsAttack
/deno.json    @lishaduck
